input {
    keyboard {
        xkb {
        }

        // Enable numlock on startup, omitting this setting disables it.
        numlock
    }

    touchpad {
        tap
        drag-lock
        scroll-factor horizontal=0.2 vertical=0.2
    }

    mouse {
    }

    trackpoint {
    }
    focus-follows-mouse
}
